9.Zynq/Zynq_lenet/AXI_lenet_ip/hdl/** linguist-vendored
9.Zynq/Zynq_lenet/AXI_lenet_ip/hdl/* linguist-vendored

9.Zynq/Zynq_lenet/ER_lenet.sdk/webtalk/* linguist-vendored
9.Zynq\Zynq_lenet\ER_lenet.sdk\design_1_wrapper_hw_platform_0\* linguist-vendored